<div id="main"> <br/><br/><br/><br/><h1 style="color: white">Hey!!    Welcome to RChat</h1><br/><br/>
  
<br/>

<button (click)="socialSignIn('google')" id="Btn" >Sign in with Google</button>        
</div>