<div><app-header></app-header></div>
<div class="container">
<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-white border-top-green">
                <div class="panel-body chat">
                    <div class="row chat-wrapper">  
                        <div class="col-md-4">
                          <div id="div1">
                              <div><a appMyDirective id="a1" style="font-size: 16px; padding: 10px" (click)="AlertBoxUnread()">
                                  <span class="glyphicon glyphicon-align-left"></span>
                                All Unreads</a></div><br/>
                                <div><a appMyDirective id="a1" style="font-size: 16px; padding: 10px"  (click)="AlertBoxThread()">
                                    <span class="glyphicon glyphicon-move"></span>
                                  All Threads</a></div><br/>
                                  <label appMyDirective for="Channels" style="font-size: 20px; padding: 10px">Channels</label>
                                  <span appMyDirective class="glyphicon glyphicon-plus-sign" (click)="AddChannelIconClicked()" id='PlusSign'></span>
                                  <ul id="list" ><li appMyDirective *ngFor = "let channel of ChannelName" (click)="ViewChannelMessages(channel)" [id]="channel"> {{channel}} </li>
                                  </ul> 
                                  <label><a appMyDirective id="a1" style="font-size: 20px; padding: 10px" (click)="DisplayAllChannels()">All Channels (Click to see list)</a></label>
                                  <ul id="list"><li appMyDirective *ngFor = "let channel of ChannelArr" (click)="AllChannel(channel)" [id]="channel"> {{channel}} </li>
                                  </ul> 
                                  <label><a appMyDirective id="a1" style="font-size: 20px; padding: 10px" (click)="DisplayAllChannels()">Direct Messages</a></label>
                                  <span appMyDirective class="glyphicon glyphicon-plus-sign" (click)="DisplayAllChannels()" id='PlusSignSecond'></span>
                                  </div>
                                </div>
                                <div class="col-md-8">                                    
                                    <div>
         <button type="button" (click)="Logout()">Logout</button>
                                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 452px;">
                                        <div class="message-list-wrapper" style="overflow: auto; width: auto; height: 452px;">
                                            <ul class="message-list">
                                                <li class="text-center">
                                                    <a href="javascript:void(0);" class="btn btn-default">Load More Messages</a>
                                                </li>
                                                                                                   
                                                    <ul>
                                                      <li *ngFor = "let messagedetail of msgArr" id="message" 
                                                      [ngClass]='{"LeftClass": messagedetail.from != user.email, "RightClass": messagedetail.from != user.email}'> 
                                                      {{messagedetail.body}}<br/>{{messagedetail.frombracket}}
                                                        &nbsp;{{messagedetail.time | date : 'fullDate'}}&nbsp;{{messagedetail.time | date : 'shortTime'}}
                                                  </li></ul></ul>
                                        </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 265px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 187.092px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
         
                                        <div class="compose-box">
                                            <div class="row">
                                               <div class="col-xs-12 mg-btm-10">
                                                   <input id="btn-input" class="form-control input-sm" (keyup.enter)="Send(Msg)"placeholder="Type your message here..." [(ngModel)]=Msg></input>
                                                </div>
                                                <div class="col-xs-8">
                                                    <button class="btn btn-green btn-sm">
                                                        <i class="fa fa-camera"></i>
                                                    </button>
                                                    <button class="btn btn-green btn-sm">
                                                        <i class="fa fa-video-camera"></i>
                                                    </button>
                                                    <button class="btn btn-green btn-sm">
                                                        <i class="fa fa-file"></i>
                                                    </button>
                                                </div>
                                                <div class="col-xs-4"> 
                                                    <button class="btn btn-green btn-sm pull-right">
                                                        <i class="fa fa-location-arrow"></i> Send
                                                    </button>
                                                </div> 
                                            </div> 
                                        </div>
                                        
                                    </div>
                                    
                                </div>                                    
                            </div> 
                              </div>
                            </div>
                          </div>
                     </div>
                    </div>   
                                           
									