@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url(http://weloveiconfonts.com/api/?family=typicons);
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}
 .container {
     width : 100%;
     height : 600px;
 }
 
/* Component: Chat */
.chat .chat-wrapper .chat-list-wrapper {
  border: 1px solid #ddd;
  height: 510px;
  overflow-y: auto;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list {
  padding: 0;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li {
  display: block;
  padding: 20px 10px;
  clear: both;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li .avatar {
  margin-right: 12px;
  float: left;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li .avatar img {
  width: 60px;
  height: auto;
  border: 4px solid transparent;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li .avatar.available img {
  border-color: #2ecc71;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li .avatar.busy img {
  border-color: #ff530d;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li .body .header {
  margin-top: 4px;
  margin-bottom: 4px;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li .body .header .username {
  font-weight: bold;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li .body .header .timestamp {
  float: right;
  color: #999;
  font-size: 11px;
  line-height: 18px;
  font-style: italic;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li .body .header .timestamp i {
  margin-right: 4px;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li .body p {
  font-size: 12px;
  line-height: 16px;
  max-height: 32px;
  overflow: hidden;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li:hover {
  background-color: #f4f4f4;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li.active {
  background-color: #eee;
  color: black;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li.active .body .timestamp {
  color: black;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li.new {
  border-left: 2px solid #2ecc71;
}
.chat .chat-wrapper .message-list-wrapper {
  border: 1px solid #ddd;
  height: 452px;
  position: relative;
  overflow-y: auto;
}
.chat .chat-wrapper .message-list-wrapper .message-list {
  padding: 0;
}
.chat .chat-wrapper .message-list-wrapper .message-list li {
  display: block;
  padding: 20px 10px;
  clear: both;
  position: relative;
  color: white;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .avatar {
  margin-right: 12px;
  display: block;
  float: left;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .avatar img {
  width: 60px;
  height: auto;
  border: 2px solid transparent;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .avatar.available img {
  border-color: #2ecc71;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .avatar.busy img {
  border-color: #ff530d;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .username {
  float: left;
  display: none;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .timestamp {
  text-align: left;
  display: block;
  color: #999;
  font-size: 11px;
  line-height: 18px;
  font-style: italic;
  margin-bottom: 4px;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .timestamp i {
  margin-right: 4px;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .body {
  display: block;
  width: 87%;
  float: left;
  position: relative;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .body .message {
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  width: auto;
  background: #2ecc71;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .body .message:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #2ecc71 transparent transparent;
  left: 0;
  top: 10px;
  margin-left: -8px;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .body .message a.white {
  color: white;
  font-weight: bolder;
  text-decoration: underline;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .body .message img {
  max-width: 320px;
  max-height: 320px;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .avatar {
  margin-left: 12px;
  display: block;
  float: right;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .avatar img {
  width: 60px;
  height: auto;
  border: 2px solid transparent;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .avatar.available img {
  border-color: #2ecc71;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .avatar.busy img {
  border-color: #ff530d;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .username {
  float: right;
  display: none;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .timestamp {
  text-align: right;
  display: block;
  color: #999;
  font-size: 11px;
  line-height: 18px;
  font-style: italic;
  margin-bottom: 4px;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .timestamp i {
  margin-right: 4px;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .body {
  display: block;
  width: 87%;
  float: right;
  position: relative;
  text-align: right;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .body .message {
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  width: auto;
  background: #3498db;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .body .message:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #3498db transparent transparent;
  right: 0;
  top: 10px;
  margin-right: -7px;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .body .message a.white {
  color: white;
  font-weight: bold;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .body .message img {
  max-width: 320px;
  max-height: 320px;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}
.chat .chat-wrapper .compose-area {
  padding: 10px 0;
  text-align: right;
}
.chat .chat-wrapper .compose-box {
  padding: 10px 0;
}
.chat .chat-wrapper .recipient-box {
  padding: 10px 0;
}
.chat .chat-wrapper .recipient-box .bootstrap-tagsinput {
  display: block;
  width: 100%;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .chat .chat-wrapper .chat-list-wrapper {
    border: 1px solid #ddd;
    height: 300px;
    overflow-y: auto;
  }
  .chat .chat-wrapper .chat-list-wrapper .chat-list {
    padding: 0;
  }
  .chat .chat-wrapper .chat-list-wrapper .chat-list li {
    display: block;
    padding: 20px 10px;
    clear: both;
    border-bottom: 1px solid #ddd;
  }
  .chat .chat-wrapper .chat-list-wrapper .chat-list li .avatar {
    display: none;
  }
  .chat .chat-wrapper .chat-list-wrapper .chat-list li .body .header {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .chat .chat-wrapper .chat-list-wrapper .chat-list li .body .header .username {
    font-weight: bold;
  }
  .chat .chat-wrapper .chat-list-wrapper .chat-list li .body .header .timestamp {
    float: right;
    color: #999;
    font-size: 11px;
    line-height: 18px;
    font-style: italic;
  }
  .chat .chat-wrapper .chat-list-wrapper .chat-list li .body .header .timestamp i {
    margin-right: 4px;
  }
  .chat .chat-wrapper .chat-list-wrapper .chat-list li .body p {
    display: none;
  }
  .chat .chat-wrapper .chat-list-wrapper .chat-list li.active {
    color: black;
  }
  .chat .chat-wrapper .chat-list-wrapper .chat-list li.active .body .timestamp {
    color: black;
  }
  .chat .chat-wrapper .chat-list-wrapper .chat-list li.new {
    font-weight: bolder;
  }
  .chat .chat-wrapper .chat-list-wrapper .chat-list li.new .body .timestamp {
    font-weight: bolder;
  }
  .chat .chat-wrapper .message-list-wrapper .message-list li.left .avatar {
    display: none;
  }
  .chat .chat-wrapper .message-list-wrapper .message-list li.left .username {
    display: inline-block;
    margin-right: 10px;
  }
  .chat .chat-wrapper .message-list-wrapper .message-list li.left .body {
    width: 100%;
  }
  .chat .chat-wrapper .message-list-wrapper .message-list li.right .avatar {
    display: none;
  }
  .chat .chat-wrapper .message-list-wrapper .message-list li.right .username {
    display: inline-block;
    margin-left: 10px;
  }
  .chat .chat-wrapper .message-list-wrapper .message-list li.right .timestamp {
    text-align: right;
    display: block;
    color: #999;
    font-size: 11px;
    line-height: 18px;
    font-style: italic;
    margin-bottom: 4px;
  }
  .chat .chat-wrapper .message-list-wrapper .message-list li.right .timestamp i {
    margin-right: 4px;
  }
  .chat .chat-wrapper .message-list-wrapper .message-list li.right .body {
    width: 100%;
  }
  .chat .chat-wrapper .recipient-box {
    margin-top: 30px;
  }
}
 
.btn-green {
    background-color: #2ecc71;
    border-color: #27ae60;
    color: white;
}
 
.mg-btm-10 {
    margin-bottom: 10px !important;
}
 
.panel-white {
    border: 1px solid #dddddd;
}
.panel {
    border-radius: 0;
    margin-bottom: 30px;
}
.border-top-green {
    border-top: 4px solid #27ae60 !important;
}
.col-md-4 {
	width: 25%;
	float: left;
}
.col-md-8 {
    width: 65%;
    float: left;
}
#div1 {
    background-color: sienna;
}
#a1 {
    cursor: pointer;
}
#PlusSign {
    cursor: pointer;
    margin-left: 200px;
}
#PlusSignSecond {
    cursor: pointer;
    margin-left: 50px;
}
#list {
    list-style: none;
}
#message {
    color: black;
}

/* .ChannelsDiv{
    float: left;
    width:20%;
    background-color: aqua;
    height: 100vh;
    padding: 4%;;
    margin-bottom: 0;
    font-size: 20px;
}

.online{
    float:left;
    width:80%;
    height:100vh;
    background:ece5dd;
    padding-left:10%;
    overflow:scroll;
}

.textarea{
    position: fixed;
    bottom: 0;
    width:100%;
} */
/* #message, {
    
    color: white;
    
    padding: 10px;
} */
.LeftClass {
  float: left;
  background-color: blue;
}
.RightClass {
  float: right;
  background-color: seagreen;
  border: 1px solid black;
}


  